
<div class="row">
  <div class="col-xs-12">
    <h4>Public Messages From Headless App</h4>
    <p>
      {{model.publicMessages}}
    </p>

    <h4>Private Messages From Headless App</h4>
    <p>
      {{model.privateMessages}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h2>Tech</h2>
    <ul class="list-group">
      <a
        ng-repeat="company in model.tech"
        ng-class="{active: model.activeSymbol==company.symbol}"
        ng-click="setOnClick(company)"
        class="list-group-item">
        {{company.name}} {{company.symbol}}
        <span class="badge">{{company.price}}</span>
      </a>
    </ul>
  </div>

  <div class="col-xs-6">
    <h2>Finance</h2>
    <ul class="list-group">
      <a
        ng-repeat="company in model.finance"
        ng-class="{active: model.activeSymbol==company.symbol}"
        ng-click="setOnClick(company)"
        class="list-group-item">
        {{company.name}}
        <span class="badge">{{company.price}}</span>
      </a>

    </ul>
  </div>
</div>

